
body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: $default-font-size;
  line-height: 1.7;
  color: $color-grey-dark;
  padding: 3rem;
}


.heading-primary {
  color: $color-white;
  text-transform: uppercase;

  margin-bottom: 6rem;
}
.heading-primary-main {
  display: block;

  font-size: 6.5rem;
  font-weight: 400;
  letter-spacing: 5.2rem;

  animation-name: moveInLeft;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  /* animation-delay: 3s;
  animation-iteration-count: 3; */
  
}
.heading-primary-sub {
  display: block;
  font-size: 1.5rem;
  font-weight: 900;
  letter-spacing: 1.38rem;
  margin-left: 0;
  animation: moveInRight 1s ease-out;
}
.heading-primary-2 {
  color: $color-white;
  text-transform: uppercase;

  margin-bottom: 6rem;
}
.heading-primary-main-2 {
  display: block;

  font-size: 3.5rem;
  font-weight: 700;
  letter-spacing: 3.5rem;

 
}
.heading-primary-sub-2 {
  display: block;
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: 1.15rem;
  margin-right: 20px;

  
}

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
  display: inline-block;
  background-clip: text;
  color: transparent;
transition: all .2s;
letter-spacing: 2px;
  &:hover {
    transform: scale(1.1);
    text-shadow: .5rem 1rem 2rem rgba($color-black, .2)
  }
}
.heading-tertiary {
  font-size: $default-font-size;
  font-weight: 700;
  text-transform: uppercase;
}
.paragraph {
font-size: $default-font-size;
&:not(:last-child) {
  margin-bottom: 3rem;
}
}