.u-center-text {
  text-align: center;
}
.u-margin-bottom-big {
  margin-bottom: 8rem;
}
.u-margin-bottom-medium {margin-bottom: 4rem;}
.u-margin-bottom-small { margin-bottom: 1.5rem;}

.u-img-rounded {
  border-radius: 50%;
  box-shadow: 0 1.5rem 4rem rgba($color-black, .4);
}