.section-about {
  background-color: $color-grey-light-1;
  padding: 25rem 0;
  margin-top: -20vh;
  

}
.avatar {
  height: 20rem;
  margin: 0 50%;
  transform: translateX(-50%)
}
.section-features {
  padding: 20rem 0;
  background-image: linear-gradient(
      to right bottom,
      rgba($color-primary-light, 0.8),
      rgba($color-primary-dark, 0.8)
      
    ),
    url(../../images/features.jpg);
    background-size: cover;

    transform: skewY(-7deg);
  margin-top: -10rem;
    & > *{
      transform: skewY(7deg);
    }
    & > h3 {
      margin-top: 4rem;
    }
}

.section-projects {
  background-color: $color-grey-light-1;
  padding: 25rem 0 15rem 0;
  margin-top: -10rem;
}
.section-contact {
  padding: 15rem 0;
  background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark);
}
.contact {
  background-image: linear-gradient(105deg, 
                                  rgba($color-white, 0.9) 0%, 
                                  rgba($color-white, 0.9) 50%,
                                  transparent 50%), url(../../images/contact.jpg);
  background-size: cover;
  
  border-radius: 10px;
  box-shadow: 0 1.5rem 4rem rgba($color-black, .2);

  height: 55rem;
  &__form {
    width: 50%;
    padding: 3rem;
  }
}
.message {
  float: right;
  margin-top: -12%;
  text-align: right;
  margin-right: 20px;
  
}